<!DOCTYPE html>
<html>
<head>
    <title>Audio Emotion Detector</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>🎙 Audio Emotion Detection</h1>

    <form id="uploadForm">
        <input type="file" id="audioFile" accept="audio/*" required>
        <button type="submit">Predict Emotion</button>
    </form>

    <h2 id="result"></h2>

    <script>
        const form = document.getElementById("uploadForm");

        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const fileInput = document.getElementById("audioFile");
            const file = fileInput.files[0];

            const formData = new FormData();
            formData.append("file", file);

            const token = localStorage.getItem("token");

            const response = await fetch("/predict", {
                method: "POST",
                headers: {
                    "Authorization": "Bearer " + token
                },
                body: formData
            });

            const data = await response.json();

            document.getElementById("result").innerText =
                "Emotion: " + data.label +
                " (Confidence: " + data.confidence + ")";
        });
    </script>
</body>
</html>